<h1 align="center"> All screen</h1>

<table>
  <thead>
    <tr>
      <th>Seating_capacity</th>
      <th>Theatre_id</th>
      <th>Movie_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screen.each do |screen| %>
      <tr>
        <td><%= screen.seating_capacity %></td>
        <td><%= screen.theatre_id %></td>
        <td><%= screen.movie_id %></td>
        <td><%= link_to 'show', screen %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


