<h1>hello owner</h1>

<%= button_to 'All theatre', theatres_path, method: :get %>
<%= button_to 'All screen', search_screen_by_theatre_path, method: :get %>
<%= button_to 'logout', logout_path, method: :delete %>
